html {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
}

body,
html {
    height: 100%
}

body,
div,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
li,
main,
p,
ul {
    margin: 0;
    padding: 0;
    font-size: 0
}

em {
    font-style: normal
}

img {
    border: none
}

#app,
#app>div {
    height: 100%
}

#app>div {
    width: 100%
}

a,
button,
input {
    outline: none;
    -webkit-appearance: none;
    border: none
}

li,
ul {
    list-style-type: none
}

.clear:after {
    content: "";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0
}

.container {
    height: 100%;
    box-sizing: border-box
}

.flex-row {
    -webkit-box-orient: horizontal;
    flex-direction: row
}

.flex-column,
.flex-row {
    display: -webkit-box;
    display: flex;
    -webkit-box-direction: normal
}

.flex-column {
    -webkit-box-orient: vertical;
    flex-direction: column
}

.flex-center {
    -webkit-box-align: center;
    align-items: center
}

.flex-center,
.flex-centerX {
    -webkit-box-pack: center;
    justify-content: center
}

.flex-centerY {
    -webkit-box-align: center;
    align-items: center
}

.hover {
    opacity: .7
}

.hover-bgc {
    background-color: #999
}

.sms.hover {
    color: #39bcff
}

.loading,
.sms.hover {
    background: transparent
}

.loading {
    position: fixed;
    z-index: 101;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center
}

.loading div {
    position: relative;
    top: 50%;
    left: 2.65rem;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    width: 2.2rem;
    height: 2.2rem;
    background: #000;
    border-radius: .2rem
}

.loading img {
    width: 1rem;
    margin-top: .35rem
}

.loading p {
    font-size: .3rem;
    color: silver;
    margin-top: .3rem
}

.loading.hide {
    display: none
}

.component-fade-enter-active,
.component-fade-leave-active {
    transition: all .2s ease
}

.component-fade-enter {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

.component-fade-leave-to {
    opacity: 0
}

.select-city.active {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.select-city {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #fff;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0)
}

.select-city .location p:first-child {
    height: .4rem;
    line-height: .4rem;
    font-size: .24rem;
    padding-left: .2rem;
    background: #f4f4f4
}

.select-city .location p:nth-child(2) {
    padding-left: .4rem;
    font-size: .28rem;
    height: .8rem;
    line-height: .8rem;
    background: #fff
}

.select-city .province {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

.select-city .province p {
    height: .4rem;
    line-height: .4rem;
    font-size: .24rem;
    padding-left: .2rem;
    background: #f4f4f4
}

.select-city .province li {
    padding-left: .3rem;
    font-size: .28rem;
    height: .8rem;
    line-height: .8rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    margin-left: .1rem;
    position: relative
}

.select-city .province li:after {
    content: "";
    display: inline-block;
    padding-top: .16rem;
    padding-right: .16rem;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: .35rem;
    top: .3rem
}

.select-city .province li:last-child {
    border: none
}

.select-city .city {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background: rgba(0, 0, 0, .6);
    visibility: hidden
}

.select-city .city ul {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease
}

.select-city .city ul li {
    padding-left: .3rem;
    font-size: .28rem;
    height: .8rem;
    line-height: .8rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    margin-left: .1rem
}

.select-city .city ul li:last-child {
    border: none
}

.select-city .city.active {
    visibility: visible
}

.select-city .city.active ul {
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0)
}

.alert {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .4);
    -webkit-animation: a .3s ease forwards;
    animation: a .3s ease forwards
}

.alert.alert-hide {
    -webkit-animation: b .2s ease forwards;
    animation: b .2s ease forwards
}

.alert .alert-content {
    position: fixed;
    z-index: 9999;
    background: #f6f6f6;
    border-radius: 7px;
    width: 72%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-align: center;
    font-size: 0
}

.alert .alert-content .alert-title-sub {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 18px 0 6px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 700
}

.alert .alert-content .alert-title {
    display: block;
    margin: 0 auto;
    padding: 0 0 20px;
    max-width: 86%;
    line-height: 16px;
    font-size: 13px
}

.alert .alert-content .alert-ok {
    position: relative;
    display: block;
    width: 100%;
    padding: 14px 0;
    border-radius: 0 0 7px 7px;
    line-height: 16px;
    font-size: 16px;
    color: #007aff;
    transition: background-color .1s
}

.alert .alert-content .alert-ok:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #c8c7cc;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0
}

.alert .alert-content .alert-ok.hover {
    background-color: #e8e8e8
}

@-webkit-keyframes a {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes a {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes b {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes b {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.content,
.wrap {
    height: 100%
}

.wrap {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

ul li:last-child {
    border-bottom: none
}

.entry {
    overflow: hidden
}

.entry a {
    float: left;
    width: 25%;
    text-align: center;
    margin: .19rem 0 .22rem;
    text-decoration: none
}

.entry a img {
    width: 1.04rem;
    height: 1.04rem
}

.entry a p {
    margin-top: .14rem;
    font-size: .3rem;
    line-height: 1;
    color: #333
}

.car-brand p {
    font-size: .28rem;
    line-height: .4rem;
    background: #f4f4f4;
    padding-left: .3rem;
    color: #aaa
}

.car-brand ul {
    margin: 0 .3rem
}

.car-brand li {
    height: 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd
}

.car-brand li img {
    height: .8rem
}

.car-brand li span {
    font-size: .32rem;
    margin-left: .4rem
}

.car-type {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    transition: all .2s ease;
    background: #fff;
    z-index: 100;
    height: 100%;
    box-shadow: 0 0 .5rem #eee
}

.car-type>div {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

.car-type>div>p {
    margin-left: 1px;
    font-size: .28rem;
    line-height: .48rem;
    background: #f2f2f2;
    padding-left: .3rem;
    color: #717171
}

.car-type ul {
    margin-left: .1rem
}

.car-type li {
    height: 1.4rem;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd
}

.car-type li img {
    margin: 0 .1rem 0 .2rem;
    width: 1.8rem;
    height: 1.2rem
}

.car-type li div p:first-child {
    font-size: .34rem;
    color: #5f687a
}

.car-type li div p:nth-child(2) {
    margin-top: .1rem;
    font-size: .28rem;
    color: red
}

.car-type.active {
    width: 75%
}

.letter {
    z-index: 99;
    position: fixed;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: .2rem
}

.letter li {
    font-size: .24rem;
    color: #666;
    font-weight: 500;
    padding: .02rem .1rem
}

.car-tip p {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: .28rem;
    line-height: .4rem;
    background: #f3f3f3;
    padding-left: .3rem;
    color: #aaa
}

.car {
    width: 100%;
    height: 100%;
    background: #f4f4f4
}

.img {
    position: relative;
    height: 3.29rem;
    overflow: hidden
}

.img img {
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute
}

.img span {
    position: absolute;
    bottom: .3rem;
    right: .3rem;
    color: #fff;
    padding: 1px .1rem;
    border-radius: .2rem;
    background: rgba(0, 0, 0, .6);
    font-size: .24rem
}

.info {
    padding: .36rem .2rem .3rem;
    background: #fff;
    position: relative
}

.info p {
    max-width: 3.4rem;
    overflow: hidden;
    text-overflow: ellipsis
}

.info p:first-child {
    font-size: .36rem;
    color: red;
    font-weight: 500
}

.info p:first-child span {
    font-size: .32rem;
    font-weight: 400
}

.info p:nth-child(2) {
    font-size: .26rem;
    color: silver
}

.info .action {
    padding-top: .2rem;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 50%;
    position: absolute;
    right: .1rem;
    top: .22rem
}

.info .action button {
    border-radius: .1rem;
    font-size: .32rem;
    height: .7rem;
    width: 3.45rem;
    border: none;
    box-sizing: border-box
}

.info .action button:first-child {
    background: #fff;
    color: #313131
}

.info .action button:last-child {
    background: #00afff;
    color: #fff
}

.info .active button {
    width: 100%
}

.car-list .c-type {
    border-top: .15rem solid #f4f4f4;
    padding: 0 .3rem;
    font-size: .32rem;
    height: .77rem;
    line-height: .77rem;
    background: #fff
}

.car-list .c-type span {
    padding-right: .46rem
}

.car-list .c-type span.active {
    color: #3aacff
}

.car-list>div>p {
    padding: 0 .2rem;
    height: .5rem;
    line-height: .5rem;
    font-size: .26rem;
    color: #999;
    background: #f4f4f4
}

.car-list ul {
    background: #fff
}

.car-list ul:last-child {
    border-bottom: 1rem solid #f4f4f4
}

.car-list ul li {
    padding: 0 .2rem;
    border-bottom: .18rem solid #f4f4f4;
    overflow: hidden
}

.car-list ul li p:first-child {
    padding: .26rem 0 .18rem;
    font-size: .3rem;
    line-height: 1;
    color: #3d3d3d
}

.car-list ul li p:nth-child(2) {
    color: #bdbdbd;
    font-size: .26rem
}

.car-list ul li p:nth-child(3) {
    text-align: right;
    padding-bottom: .1rem;
    font-size: .24rem;
    color: #818181
}

.car-list ul li p:nth-child(3) span:nth-child(2) {
    font-size: .3rem;
    color: #ff2336;
    margin-left: .1rem
}

.car-list ul li button {
    border: none;
    border-top: 1px solid #eee;
    width: 110%;
    height: .8rem;
    font-size: .32rem;
    color: #00afff;
    background: #fff;
    font-weight: 500;
    margin-left: -.3rem
}

.car-list ul li:last-child {
    border-bottom: 0
}

.bottom {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99;
    background: #3aacff;
    height: 1rem;
    color: #fff
}

.bottom p:first-child {
    font-size: .32rem;
    margin-top: .12rem;
    font-weight: 500
}

.bottom p:nth-child(2) {
    font-size: .24rem
}

.car-img {
    height: 100%;
    background: #f4f4f4
}

.car-img div.tit {
    position: fixed;
    background: #fff;
    top: 0;
    width: 100%;
    height: .8rem;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 99
}

.car-img div.tit p {
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center;
    box-sizing: border-box;
    color: #454545;
    display: inline-block
}

.car-img div.tit p span {
    max-width: 2.6rem;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.25;
    font-size: .28rem
}

.car-img div.tit p span em {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical
}

.car-img div.tit p:after {
    content: "";
    display: inline-block;
    padding-top: .16rem;
    padding-right: .16rem;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-left: .2rem;
    vertical-align: 5%
}

.car-img div.tit p:nth-child(2) {
    border-left: 1px solid #ececec
}

.img-default {
    overflow: hidden;
    position: absolute;
    background: #fff;
    top: .98rem;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    border-bottom: .4rem solid #f4f4f4
}

.img-default li {
    position: relative;
    float: left;
    margin-right: .06rem;
    margin-bottom: .06rem;
    width: 2.46rem;
    height: 2.46rem;
    padding: 0
}

.img-default li img {
    width: 100%;
    height: 100%;
    background-size: cover
}

.img-default li div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(56, 90, 130, .5)
}

.img-default li div p {
    color: #fff;
    display: block
}

.img-default li div p:first-child {
    font-size: .28rem;
    margin-top: .8rem
}

.img-default li div p:nth-child(2) {
    font-size: .26rem
}

.img-default li:nth-child(3n+3) {
    margin-right: 0
}

.img-default li:nth-child(6n+4),
.img-default li:nth-child(6n+5),
.img-default li:nth-child(6n+6) {
    margin-bottom: .16rem
}

.no-img {
    overflow: hidden;
    position: absolute;
    background: #f4f4f4;
    top: .98rem;
    bottom: 0;
    text-align: center;
    width: 100%
}

.no-img img {
    width: 1.74rem;
    margin-top: 2rem
}

.no-img p {
    font-size: .24rem;
    margin-top: .3rem;
    color: silver
}

.img-list {
    background: #f4f4f4;
    top: 0;
    text-align: center;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    z-index: 99
}

.img-list li {
    float: left;
    margin-right: .06rem;
    margin-bottom: .06rem;
    width: 2.46rem;
    height: 2.46rem;
    padding: 0
}

.img-list li img {
    width: 100%;
    height: 100%;
    background-size: cover
}

.img-list li:nth-child(3n+3) {
    margin-right: 0
}

.img-list .drop {
    float: left;
    width: 100%;
    text-align: center;
    margin: .1rem 0
}

.img-list .drop img {
    width: .32rem
}

.img-list .drop span {
    font-size: .26rem;
    margin-left: .15rem;
    color: #666;
    vertical-align: 10%
}

.img-detail {
    background: #000;
    top: 0;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 101
}

.img-detail div img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain
}

.img-detail span {
    display: inline-block;
    bottom: .2rem;
    font-size: .22rem
}

.img-detail button,
.img-detail span {
    position: absolute;
    color: #fff;
    z-index: 99
}

.img-detail button {
    font-size: .24rem;
    padding: .08rem .15rem;
    right: .1rem;
    bottom: .1rem;
    background-color: #3aacff;
    border: none
}

.color,
.type {
    position: absolute;
    top: 0;
    z-index: 101;
    background: #f4f4f4;
    height: 100%;
    width: 100%;
    -webkit-animation: c .2s ease forwards;
    animation: c .2s ease forwards
}

.color>p,
.type>p {
    margin: .15rem 0;
    font-size: .34rem;
    color: #00afff;
    background: #fff;
    text-align: center;
    line-height: .8rem;
    height: .8rem
}

.color .c-type,
.type .c-type {
    margin-top: .15rem;
    padding-left: .2rem;
    font-size: .3rem;
    line-height: .76rem;
    height: .76rem;
    background: #fff;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch
}

.color .c-type span,
.type .c-type span {
    padding-right: .42rem
}

.color .c-type span.active,
.type .c-type span.active {
    color: #00afff
}

.color .tip,
.type .tip {
    height: .5rem;
    line-height: .5rem
}

.color ul {
    margin-top: .15rem;
    padding: 0 .2rem;
    overflow: hidden;
    background: #fff
}

.color ul li {
    float: left;
    width: 3.45rem;
    font-size: .32rem;
    line-height: .68rem;
    border: 1px solid #3aacff;
    box-sizing: border-box;
    margin: .2rem 0;
    border-radius: .05rem
}

.color ul li span {
    display: inline-block;
    width: .4rem;
    height: .4rem;
    margin-left: .2rem;
    vertical-align: -12%;
    background: #fe9210;
    box-sizing: border-box;
    border: 1px solid #818181
}

.color ul li:nth-child(odd) {
    margin-right: .2rem
}

.type ul {
    background: #fff
}

.type ul li {
    margin: 0 .2rem;
    padding: .28rem .06rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    height: 1.25rem;
    line-height: 1
}

.type ul li p:first-child {
    font-size: .3rem
}

.type ul li p:first-child span:nth-child(1) {
    width: 5rem;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.type ul li p:first-child span:nth-child(2) {
    float: right;
    color: red;
    font-size: .26rem
}

.type ul li p:nth-child(2) {
    padding-top: .16rem;
    font-size: .24rem
}

.type ul li p:nth-child(2) span:first-child {
    color: #b3b3b3
}

.type ul li p:nth-child(2) span:nth-child(2) {
    color: #818181;
    float: right
}

.type ul li:last-child {
    border: none
}

@-webkit-keyframes c {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes c {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical>.swiper-wrapper {
    -webkit-box-orient: vertical;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: flex;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.swiper-container-multirow>.swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    -webkit-box-align: start;
    align-items: flex-start;
    transition-property: height, -webkit-transform;
    transition-property: transform, height;
    transition-property: transform, height, -webkit-transform
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-wp8-horizontal {
    touch-action: pan-y
}

.swiper-wp8-vertical {
    touch-action: pan-x
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: 50%;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23007aff'/%3E%3C/svg%3E");
    left: 10px;
    right: auto
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z'/%3E%3C/svg%3E")
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23007aff'/%3E%3C/svg%3E");
    right: 10px;
    left: auto
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z'/%3E%3C/svg%3E")
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 0;
    display: block
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px
}

.swiper-pagination-progress {
    background: rgba(0, 0, 0, .25);
    position: absolute
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left top;
    transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    -webkit-transform-origin: right top;
    transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-vertical>.swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-progress.swiper-pagination-white {
    background: hsla(0, 0%, 100%, .5)
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
    background: #fff
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000
}

.swiper-container-3d {
    -webkit-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
    -ms-perspective: 1200px
}

.swiper-container-cube,
.swiper-container-flip {
    overflow: visible
}

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-cube .swiper-slide {
    visibility: hidden;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal>.swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: d 1s steps(12) infinite;
    animation: d 1s steps(12) infinite
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%23fff' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E")
}

@-webkit-keyframes d {
    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes d {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.q {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.q header {
    height: .6rem;
    line-height: .6rem;
    width: 100%;
    background: #79cd92;
    text-align: center;
    z-index: 99
}

.q header p {
    color: #fff;
    font-size: .3rem;
    display: inline-block
}

.q header img {
    width: .3rem;
    margin-left: .1rem;
    vertical-align: -9%
}

.q .q-tip {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .1);
    z-index: 101
}

.q .q-tip>div {
    position: relative;
    width: 86%;
    margin-left: 7%;
    background: #fff;
    border-radius: .15rem;
    margin-top: .8rem
}

.q .q-tip>div:before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: .3rem solid transparent;
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid #fff;
    right: .16rem;
    top: -.15rem
}

.q .q-tip>div div:first-child {
    padding: .2rem 0
}

.q .q-tip>div div:first-child li {
    -webkit-box-flex: 1;
    flex: 1;
    text-align: center
}

.q .q-tip>div div:first-child li img {
    width: .6rem
}

.q .q-tip>div div:first-child li span {
    display: block;
    font-size: .24rem;
    color: #333
}

.q .q-tip>div div:nth-child(2) {
    border-bottom-left-radius: .15rem;
    border-bottom-right-radius: .15rem;
    padding: .1rem 0;
    background: #f4f4f4
}

.q .q-tip>div div:nth-child(2) li {
    list-style: initial;
    margin-left: .1rem;
    font-size: .2rem;
    color: silver
}

.q .content {
    -webkit-box-flex: 1;
    flex: 1;
    width: 100%;
    height: auto;
    background: #f4f4f4;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

.q .content .tip {
    height: .5rem;
    line-height: .5rem
}

.q .q-info {
    background: #fff;
    padding: .32rem .18rem .24rem;
    position: relative;
    height: 2rem;
    box-sizing: border-box
}

.q .q-info img {
    width: 2.3rem;
    height: 1.41rem;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 5px
}

.q .q-info div {
    margin-left: .2rem;
    width: 4.3rem
}

.q .q-info div p:first-child {
    font-size: .36rem;
    line-height: 1
}

.q .q-info div p:nth-child(2) {
    margin-top: .26rem;
    font-size: .32rem;
    line-height: 1.2;
    color: #333
}

.q .q-info:before {
    content: "";
    display: inline-block;
    padding-top: .16rem;
    padding-right: .16rem;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: .26rem;
    top: .9rem
}

.q .self-info ul {
    background: #fff;
    padding: 0 .2rem
}

.q .self-info ul li {
    font-size: .32rem;
    height: .88rem;
    line-height: .88rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    color: #000
}

.q .self-info ul li input {
    font-size: .32rem;
    padding-right: .2rem;
    width: 88%;
    text-align: right;
    box-sizing: border-box;
    color: #555
}

.q .self-info ul li span:nth-child(2) {
    display: inline-block;
    width: 88%;
    color: #555;
    text-align: right;
    box-sizing: border-box
}

.q .self-info ul li span:nth-child(2):after {
    content: "";
    display: inline-block;
    padding-top: .16rem;
    padding-right: .16rem;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.q .self-info>div {
    background: #fff;
    text-align: center;
    padding-top: .3rem;
    padding-bottom: .28rem
}

.q .self-info>div input {
    -webkit-appearance: checkbox;
    vertical-align: bottom
}

.q .self-info>div p:nth-child(2) {
    display: inline-block;
    font-size: .3rem;
    height: .4rem;
    line-height: .4rem
}

.q .self-info>div p:nth-child(2) span {
    color: #00a000
}

.q .self-info>div p:nth-child(3) {
    text-align: left;
    font-size: .28rem;
    margin-left: 2.36rem;
    color: #ccc
}

.q .self-info>div p:nth-child(3) span {
    color: red;
    text-decoration: underline
}

.q .dealer-info ul {
    background: #fff;
    padding: 0 .18rem
}

.q .dealer-info ul .tip {
    background: #fff;
    padding: 0;
    font-size: .2rem;
    border-bottom: 1px solid #eee
}

.q .dealer-info li {
    position: relative;
    padding: .26rem 0 .26rem .54rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    height: 1.65rem
}

.q .dealer-info li p:first-child {
    font-size: .3rem
}

.q .dealer-info li p:first-child span:last-child {
    font-size: .24rem;
    float: right;
    color: red
}

.q .dealer-info li p:nth-child(2) {
    margin-top: .1rem;
    font-size: .24rem;
    color: #a2a2a2
}

.q .dealer-info li p:nth-child(2) span:first-child {
    display: inline-block;
    max-width: 4.6rem
}

.q .dealer-info li p:nth-child(2) span:nth-child(2) {
    float: right
}

.q .dealer-info li:before {
    content: "";
    display: inline-block;
    width: .32rem;
    height: .32rem;
    border-radius: 50%;
    border: 2px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    left: .05rem;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
}

.q .dealer-info li.active:before {
    background: #3aacff;
    border: none
}

.q .dealer-info li.active:after {
    content: "";
    display: inline-block;
    padding-top: .17rem;
    padding-right: .1rem;
    border: 2px solid #fff;
    -webkit-transform: rotate(40deg) translate3d(0, -50%, 0);
    transform: rotate(40deg) translate3d(0, -50%, 0);
    position: absolute;
    left: .07rem;
    border-left: none;
    border-top: none;
    top: 47%
}

.q .dealer-info li:last-child {
    border-bottom: none
}

.q .supp-info {
    text-align: center;
    height: .4rem
}

.q .supp-info img {
    width: 60%
}

.q footer {
    width: 100%;
    z-index: 99
}

.q footer button {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    background: #3aacff;
    text-align: center;
    font-size: .34rem;
    color: #fff
}

.quotation button {
    font-size: .32rem;
    color: #fff;
    width: 80%;
    background: #3aacff;
    height: .7rem;
    border-radius: .1rem
}

.q .result {
    position: fixed;
    z-index: 101;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center
}

.q .result .wrap {
    -webkit-animation: e .3s ease forwards;
    animation: e .3s ease forwards;
    height: auto;
    background: #fff;
    border-radius: .2rem;
    padding: .3rem .3rem 0;
    text-align: center;
    display: inline-block;
    width: 76%;
    overflow: hidden
}

.q .result img:first-child {
    width: .8rem;
    display: block;
    margin: 0 auto .3rem
}

.q .result img:nth-child(4) {
    width: 100%
}

.q .result p:nth-child(2) {
    font-size: .4rem;
    color: #3cc144;
    margin: .1rem
}

.q .result p:nth-child(3) {
    font-size: .24rem;
    color: silver;
    margin: .15rem
}

.q .result .wrap div {
    width: 120%;
    margin-left: -10%;
    height: .8rem;
    margin-top: .3rem;
    border-top: 1px solid #f4f4f4
}

.q .result .wrap div button {
    border: none;
    width: 50%;
    background: transparent;
    font-size: .3rem;
    line-height: .8rem;
    padding: 0;
    color: silver
}

.q .result .wrap div button:last-child {
    box-sizing: border-box;
    color: #3aacff
}

.q .ttpc {
    background: rgba(0, 0, 0, .6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 101
}

.q .ttpc div {
    width: 6.3rem;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: .15rem;
    overflow: hidden;
    -webkit-animation: e .3s ease forwards;
    animation: e .3s ease forwards
}

.q .ttpc img {
    width: 6.1rem;
    height: 6.8rem;
    padding: .1rem
}

.q .ttpc div p.see {
    font-size: .3rem;
    color: #3aacff;
    width: 100%;
    border-top: 1px solid #eee;
    height: .8rem;
    line-height: .8rem;
    text-align: center
}

@-webkit-keyframes e {
    0% {
        opacity: 0;
        -webkit-transform: scale(.85);
        transform: scale(.85)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes e {
    0% {
        opacity: 0;
        -webkit-transform: scale(.85);
        transform: scale(.85)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.loan .content {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    bottom: 1rem;
    background: #f4f4f4;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

.loan .l-info {
    background: #fff;
    padding: .22rem .18rem;
    position: relative;
    box-sizing: border-box;
    height: 1.85rem
}

.loan .l-info img {
    width: 2.3rem;
    max-height: 1.41rem;
    border: 1px solid #eee;
    box-sizing: border-box;
    border-radius: 5px
}

.loan .l-info div {
    margin-left: .2rem;
    width: 4.3rem
}

.loan .l-info div p:first-child {
    font-size: .32rem;
    line-height: 1.1
}

.loan .l-info div p:nth-child(2) {
    margin-top: .26rem;
    font-size: .24rem;
    line-height: 1.1;
    color: #666
}

.loan .l-info div p:nth-child(2) span {
    color: #ff283a
}

.loan .l-info:before {
    content: "";
    display: inline-block;
    padding-top: .16rem;
    padding-right: .16rem;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: .26rem;
    top: .8rem
}

.loan .self-info ul {
    background: #fff;
    padding: 0 .2rem
}

.loan .self-info ul li {
    height: .8rem;
    line-height: .8rem;
    font-size: .3rem;
    border-bottom: 1px solid #eee;
    box-sizing: border-box
}

.loan .self-info ul li input {
    font-size: .3rem;
    padding-right: .2rem;
    width: 89%;
    text-align: right;
    box-sizing: border-box
}

.loan .self-info ul li span:nth-child(2) {
    display: inline-block;
    width: 89.5%;
    text-align: right;
    box-sizing: border-box
}

.loan .self-info ul li span:nth-child(2):after {
    content: "";
    display: inline-block;
    padding-top: .16rem;
    padding-right: .16rem;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.loan .self-info ul li:nth-child(4) {
    color: #3aacff;
    border: none
}

.loan .self-info ul li:nth-child(4) span {
    color: red;
    width: 77.3%;
    font-weight: 500;
    display: inline-block;
    box-sizing: border-box;
    padding-left: .1rem
}

.loan .self-info ul li:nth-child(4):after {
    content: "";
    display: inline-block;
    padding-top: .16rem;
    padding-right: .16rem;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.loan .self-info ul li:last-child {
    border: none
}

.loan .self-info>div {
    background: #fff;
    text-align: center;
    padding-top: .2rem;
    padding-bottom: .2rem
}

.loan .self-info>div input {
    -webkit-appearance: checkbox;
    vertical-align: bottom
}

.loan .self-info>div p:nth-child(2) {
    display: inline-block;
    font-size: .26rem;
    height: .4rem;
    line-height: .4rem
}

.loan .self-info>div p:nth-child(2) span {
    color: #00a000
}

.loan .self-info>div p:nth-child(3) {
    font-size: .22rem;
    margin-left: 1.35rem;
    color: #ccc
}

.loan .self-info>div p:nth-child(3) span {
    color: red;
    text-decoration: underline
}

.loan .self-info>div img {
    display: none
}

.loan .detail p:first-child span {
    float: right
}

.loan .detail p:first-child span em {
    color: #ff2336
}

.loan .detail p:nth-child(2) {
    border-bottom: 1px solid #eee;
    background: #fff;
    height: .88rem;
    box-sizing: border-box
}

.loan .detail p:nth-child(2) span {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    font-size: .32rem;
    line-height: .88rem;
    text-align: center
}

.loan .detail p:nth-child(2) span:after {
    content: "";
    display: inline-block;
    padding-top: .16rem;
    padding-right: .16rem;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    margin-left: .2rem;
    vertical-align: 5%
}

.loan .detail p:nth-child(2) select {
    -webkit-appearance: none;
    display: inline;
    border: none;
    outline: none;
    font-size: .32rem;
    line-height: 1;
    height: 100%;
    background: transparent
}

.loan .detail p:nth-child(2) span:nth-child(2) {
    border-left: 1px solid #eee
}

.loan .loan-info ul {
    background: #fff;
    padding: 0 .2rem
}

.loan .loan-info ul li {
    position: relative;
    padding: .2rem 0 .1rem .52rem;
    border-bottom: 1px solid #eee;
    height: 2.4rem;
    box-sizing: border-box
}

.loan .loan-info ul li p:first-child {
    font-size: .3rem
}

.loan .loan-info ul li p:first-child img {
    width: .32rem;
    vertical-align: -10%
}

.loan .loan-info ul li p:first-child span:last-child {
    color: #b3b3b3;
    font-size: .24rem
}

.loan .loan-info ul li p:nth-child(2) {
    font-size: .26rem;
    margin: .15rem 0
}

.loan .loan-info ul li p:nth-child(2) .p1 {
    color: red
}

.loan .loan-info ul li p:nth-child(2) .p3 {
    color: #00a000
}

.loan .loan-info ul li p:nth-child(2) span:nth-child(2) {
    float: right
}

.loan .loan-info ul li p:nth-child(2) span:nth-child(2) em {
    color: red;
    font-size: .32rem
}

.loan .loan-info ul li p:nth-child(3) {
    font-size: .26rem;
    margin: .12rem 0
}

.loan .loan-info ul li p:nth-child(3) em {
    color: red
}

.loan .loan-info ul li p:nth-child(3) span:nth-child(2) {
    float: right;
    font-size: .24rem;
    color: silver
}

.loan .loan-info ul li p:nth-child(4) {
    margin: .15rem 0
}

.loan .loan-info ul li p:nth-child(4) span {
    font-size: 12px;
    border-radius: 2px;
    height: 17px;
    display: inline-block;
    box-sizing: border-box;
    line-height: 15px;
    padding: 0 2px
}

.loan .loan-info ul li p:nth-child(4) span:first-child {
    color: #01afff;
    border: 1px solid #01afff
}

.loan .loan-info ul li p:nth-child(4) span:nth-child(2) {
    margin-left: .2rem;
    color: #ff2337;
    border: 1px solid #ff2337
}

.loan .loan-info ul li:before {
    content: "";
    display: inline-block;
    width: .32rem;
    height: .32rem;
    border-radius: 50%;
    border: 2px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    left: .05rem;
    margin-top: .05rem
}

.loan .loan-info ul li.active:before {
    background: #3aacff;
    border: none
}

.loan .loan-info ul li.active:after {
    content: "";
    display: inline-block;
    padding-top: .17rem;
    padding-right: .1rem;
    border: 2px solid #fff;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    position: absolute;
    left: .13rem;
    top: .27rem;
    border-left: none;
    border-top: none
}

.loan .loan-info ul li:last-child {
    border-bottom: none
}

.loan footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99
}

.loan footer button {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    background: #3aacff;
    text-align: center;
    font-size: .32rem;
    color: #fff
}

.tip {
    padding: 0 .2rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .24rem;
    color: #666;
    background: #eee
}

.loan .result {
    position: fixed;
    z-index: 101;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: transparent;
    -webkit-animation: f .3s ease;
    animation: f .3s ease
}

.loan .result .wrap {
    position: relative;
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    height: auto;
    background: rgba(0, 0, 0, .8);
    border-radius: .2rem;
    padding: .3rem;
    text-align: center;
    display: inline-block
}

.loan .result img {
    width: .8rem;
    display: block;
    margin: 0 auto
}

.loan .result p {
    font-size: .3rem;
    color: #fff;
    margin: .1rem;
    display: inline-block
}

.q .q-tip div {
    -webkit-animation: f .3s ease;
    animation: f .3s ease
}

@-webkit-keyframes f {
    0% {
        opacity: 0;
        -webkit-transform: scale(.85);
        transform: scale(.85);
        -webkit-transform-origin: center;
        transform-origin: center
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes f {
    0% {
        opacity: 0;
        -webkit-transform: scale(.85);
        transform: scale(.85);
        -webkit-transform-origin: center;
        transform-origin: center
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.full-info {
    background: #f4f4f4;
    width: 100%;
    height: 100%
}

.full-info ul {
    background: #fff
}

.full-info li {
    font-size: .28rem;
    height: .8rem;
    line-height: .8rem;
    border-bottom: 1px solid #eee;
    margin-left: .2rem
}

.full-info li em {
    display: inline-block;
    width: .52rem
}

.full-info li select {
    width: 76%;
    line-height: .8rem;
    -webkit-appearance: none;
    border: none;
    outline: none
}

.full-info li input,
.full-info li select {
    font-size: .28rem;
    height: .8rem;
    background: transparent;
    -webkit-tap-highlight-color: transparent;
    margin-left: .1rem
}

.full-info li input {
    width: 74%
}

.full-info .fund em {
    width: .15rem
}

.full-info li:last-child {
    border-bottom: none
}
